@page "/"
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage;
@using Microsoft.AspNetCore.SignalR.Client
@using rolling.dice.fun.Data;
@inject NavigationManager Navigation
@inject RollingDiceService rollingDiceService
@inject ProtectedLocalStorage ProtectedLocalStore

@implements IAsyncDisposable

<PageTitle>Start</PageTitle>

<h1>Let's Rolling a dice!</h1>

Let's start adding more entropy!


<div class="form-group">
    <label>
        Username:
        <input @bind="userInput" />
    </label>
</div>
<div class="form-group">
    <label>
        Put your entropy data here:
    </label>
</div>
<div>
<textarea @bind="messageInput" rows=10 cols=50 />
</div>
<div>
<button @onclick="SendEntropy" disabled="@(!IsConnected)">Add new entropy!</button>
</div>
<div>
    <button @onclick="StopTheCount" disabled="@(!IsStoppedCountEnabled)">Stop the COUNT! ;)</button>
</div>
<hr>

<ul id="messagesList">
    @foreach (var message in messages)
    {
        <li>@message</li>
    }
</ul>

@code {
    /// <summary>
    /// SignalR connection
    /// </summary>
    private HubConnection? hubConnection;
    /// <summary>
    /// entropy from all users
    /// </summary>
    private List<string> messages = new List<string>();
    /// <summary>
    /// username editbox
    /// </summary>
    private string userInput = "";
    /// <summary>
    /// editbox for new entropy value
    /// </summary>
    private string? messageInput;


    protected override async Task OnInitializedAsync()
    {
        var allMessages = await rollingDiceService.GetEntropy();
        messages = allMessages.Select(m => PrepareMessage(m.user, m.entropy)).ToList();

        hubConnection = new HubConnectionBuilder()
            .WithUrl(Navigation.ToAbsoluteUri("/rollingdicehub"))
            .Build();

        hubConnection.On<string, string>("ReceiveMessage", (user, message) =>
        {
            messages.Add(PrepareMessage(user, message));
            InvokeAsync(StateHasChanged);
        });
        hubConnection.On("StoppingTheCount", () =>
        {
            InvokeAsync(UpdateStopTheCountState);
            InvokeAsync(StateHasChanged);
        });
        await hubConnection.StartAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LoadStateAsync();
            StateHasChanged();
        }
    }

    /// <summary>
    /// Loading user state (in case if connection slow or disconnected, the data get back after the resonnecting)
    /// </summary>
    /// <returns></returns>
    private async Task LoadStateAsync()
    {
        var result = await ProtectedLocalStore.GetAsync<string>(RollingDiceService.PrepareStateName("username"));
        if (result.Success)
            userInput =  result.Value ?? rollingDiceService.GenerateUsername();
        else userInput = rollingDiceService.GenerateUsername();

        var stoppedResult = await ProtectedLocalStore.GetAsync<bool>(RollingDiceService.PrepareStateName("stopped"));
        if (stoppedResult.Success)
            disableSendEntropy = stoppedResult.Value;
        else disableSendEntropy = false;

        //enable Stop the Count buttong for admin
        //TODO: should be replaced by Auth with checking the role of the current user
        if (userInput == "andrey") IsStoppedCountEnabled = true;

    }

    /// <summary>
    /// update the state of "Stop the Count" button when it clicked
    /// </summary>
    /// <returns></returns>
    private async Task UpdateStopTheCountState()
    {
        disableSendEntropy = true;
        await ProtectedLocalStore.SetAsync(RollingDiceService.PrepareStateName("stopped"), true);
    }

    /// <summary>
    /// update username state
    /// </summary>
    /// <param name="username"></param>
    /// <returns></returns>
    private async Task UpdateState(string username)
    {
        await ProtectedLocalStore.SetAsync(RollingDiceService.PrepareStateName("username"), username);
    }

    /// <summary>
    /// prepare a message item before adding to the list
    /// </summary>
    /// <param name="user"></param>
    /// <param name="message"></param>
    /// <returns></returns>
    string PrepareMessage(string user, string message) => $"{user}: {message}";

    /// <summary>
    /// user clicked on  Add Entropy
    /// </summary>
    /// <returns></returns>
    private async Task SendEntropy()
    {
        if (hubConnection is not null)
        {
            await UpdateState(userInput);
            await hubConnection.SendAsync("SendMessage", userInput, messageInput);
            messageInput = "";
            StateHasChanged();
        }
    }

    /// <summary>
    /// Admin clicked on "Stop the Count" button
    /// </summary>
    /// <returns></returns>
    private async Task StopTheCount()
    {
        if (hubConnection is not null)
        {
            await hubConnection.SendAsync("StopTheCount");
            disableSendEntropy = true;
            StateHasChanged();
        }
    }


    /// <summary>
    /// session not stopped
    /// </summary>
    bool disableSendEntropy = false;
    /// <summary>
    /// check if need to disable Send Entropy button
    /// only in case when SignalR connection still not active
    /// or when the session is already stopped
    /// </summary>
    public bool IsConnected =>
        hubConnection?.State == HubConnectionState.Connected && !disableSendEntropy;


    /// <summary>
    /// Stop the Count button is desabled for all by default
    /// </summary>
    public bool IsStoppedCountEnabled=false;

    /// <summary>
    /// disapose SignalR connection when the page is closing
    /// </summary>
    /// <returns></returns>
    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null)
        {
            await hubConnection.DisposeAsync();
        }
    }
}
